Repository Gusto/rubocop-gusto: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yml-sort

rubocop:
  tags:
  - backend
  - style
  - pre-commit-and-pre-push
  - autofix
  run: .lefthook/rubocop {files}
  stage_fixed: true

yml-sort:
  tags:
  - config
  - style
  - pre-commit-and-pre-push
  - autofix
  run: .lefthook/yml_sort {files}
  stage_fixed: true

Version bump
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Release 10.6.0 (#62)
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Update release gem action to version 1.1.1
  .github/workflows/release.yml
Due: none

Update release gem action to version 1.1.1 (#67)
  .github/workflows/release.yml
Due: none

Update release gem action version format
  .github/workflows/release.yml
Due: none

Update release gem action version format (#68)
  .github/workflows/release.yml
Due: none

Update release-gem action to version 1.1.2
  .github/workflows/release.yml
Due: none

Update release-gem action to version 1.1.2 (#69)
  .github/workflows/release.yml
Due: none

Improve Rack/LowercaseHeaderKeys cop for comprehensive Rack 3 coverage
  config/default.yml
  lib/rubocop/cop/rack/lowercase_header_keys.rb
  spec/rubocop/cop/rack/lowercase_header_keys_spec.rb
Due: rubocop, yml-sort

Add AGENTS.md with AI coding agent guidance
  AGENTS.md
  CLAUDE.md
Due: none

Add CODEOWNERS assigning repo to developer-productivity-rails
  .github/CODEOWNERS
Due: none

Improve AGENTS.md examples and ConfigYml guidance
  AGENTS.md
Due: none

Add AGENTS.md with AI coding agent guidance (#73)
  AGENTS.md
  CLAUDE.md
Due: none

Add CODEOWNERS (#74)
  .github/CODEOWNERS
Due: none

Document disabled cops and enable cops beneficial for agentic coding
  .yamllint.yml
  config/default.yml
  config/rails.yml
Due: yml-sort

Add Style/Documentation comments to cop and CLI classes
  .config/mise/config.toml
  .ruby-version
  lib/rubocop/cop/gusto/datadog_constant.rb
  lib/rubocop/cop/gusto/execute_migration.rb
  lib/rubocop/cop/gusto/factory_classes_or_modules.rb
  lib/rubocop/cop/gusto/paperclip_or_attachable.rb
  lib/rubocop/cop/gusto/polymorphic_type_validation.rb
  lib/rubocop/cop/gusto/sidekiq_params.rb
  lib/rubocop/gusto/cli.rb
  lib/rubocop/gusto/init.rb
Due: rubocop

Add yamllint check to lefthook pre-commit and pre-push
  lefthook.yml
Due: none

Replace em dashes with hyphens to satisfy Style/AsciiComments
  lib/rubocop/cop/gusto/factory_classes_or_modules.rb
  lib/rubocop/gusto/cli.rb
  lib/rubocop/gusto/init.rb
Due: rubocop

Add ClassNewOutsideNamespace cop and resolve rubocop violations
  .rubocop.yml
  config/default.yml
  lib/rubocop/cop/gusto/class_new_outside_namespace.rb
  spec/rubocop/cop/rspec/class_new_outside_namespace_spec.rb
Due: rubocop, yml-sort

Remove ClassNewOutsideNamespace cop (out of scope for this PR)
  config/default.yml
  lib/rubocop/cop/gusto/class_new_outside_namespace.rb
  spec/rubocop/cop/rspec/class_new_outside_namespace_spec.rb
Due: rubocop, yml-sort

Update CHANGELOG and add changelog guidance to AGENTS.md
  AGENTS.md
  CHANGELOG.md
Due: none

Improve Style/RedundantSelf comment to note method vs variable distinction
  config/default.yml
Due: yml-sort

Apply suggestion from @corsonknowles
  config/default.yml
Due: yml-sort

Rewrite README to clarify north star purpose and agent-first philosophy
  README.md
Due: none

Enable RSpec/MatchArray (remove disabled entry; enabled by default)
  CHANGELOG.md
  config/default.yml
Due: yml-sort

Change EnforcedStyle from 'always' to 'always_true'
  config/default.yml
Due: yml-sort

Change EnforcedStyle from 'always' to 'always_true' (#76)
  config/default.yml
Due: yml-sort

Fix CI: use template format tokens and achieve 100% branch coverage
  lib/rubocop/cop/rack/lowercase_header_keys.rb
  spec/rubocop/cop/rack/lowercase_header_keys_spec.rb
Due: rubocop

Update cop documentation to reference HTTP/2 standards instead of Rack 3
  config/default.yml
  lib/rubocop/cop/rack/lowercase_header_keys.rb
Due: rubocop, yml-sort

Improve Rack/LowercaseHeaderKeys for Rack 3 migration (#70)
  config/default.yml
  lib/rubocop/cop/rack/lowercase_header_keys.rb
  spec/rubocop/cop/rack/lowercase_header_keys_spec.rb
Due: rubocop, yml-sort

Release v10.7.0
  CHANGELOG.md
  lib/rubocop/gusto/version.rb
Due: rubocop

Update Gemfile.lock for v10.7.0
  Gemfile.lock
Due: none

Release v10.7.0 (#78)
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Enable Rails/DefaultScope cop
  CHANGELOG.md
  config/rails.yml
Due: yml-sort

Enable Rails/DefaultScope cop (#80)
  CHANGELOG.md
  config/rails.yml
Due: yml-sort

Remove redundant Rails: Enabled: true from config/rails.yml
  CHANGELOG.md
  config/rails.yml
Due: yml-sort

Remove redundant Rails: Enabled: true from config/rails.yml (#81)
  CHANGELOG.md
  config/rails.yml
Due: yml-sort

Release v10.8.0
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Release v10.8.0 (#82)
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Path conditions:
  rubocop: any of: {Rakefile,Brewfile,Gemfile,*.{rb,rake,rabl,arb}}
  yml-sort: any of: config/*.yml
