Repository Gusto/rubocop-gusto: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yml-sort

lefthook.yml:

# See lefthook-local.yml.example for some ways you can customize lefthook
# ie use pre-push instead of pre-commit for several checks

# We install lefthook via bundler, but .git/hooks/pre-commit will use a lefthook
# on the path instead of bundler.
#
# Therefore, we should set a minimum version just in case. If you run into this, there's two possible fixes:
# - `brew uninstall lefthook` to remove it altogether
# - `brew upgrade lefthook`
#
# Reason for this version: adds option to `skip_lfs` https://github.com/evilmartians/lefthook/pull/879
min_version: 1.8.5

# Skip `git lfs` integration as it's unnecessary and very slow in zenpayroll
skip_lfs: true

skip_output:
  - meta           # Skips lefthook version printing
  # - summary      # Skips summary block (successful and failed steps) printing
  - empty_summary  # Skips summary heading when there are no steps to run
  # - success      # Skips successful steps printing
  # - failure      # Skips failed steps printing
  - execution      # Skips printing any execution logs (but prints if the execution failed)
  - execution_out  # Skips printing execution output (but still prints failed commands output)
  - execution_info # Skips printing `EXECUTE > ...` logging
  - skips          # Skips "skip" printing (i.e. no files matched)
  - meta           # Skips lefthook version printing

# === tags ===
# - pre-commit-and-pre-push:
#     for commands we want to let people run at pre-commit or at pre-push. most commands are in this category unless they are specific to commits


# NOTE: some commands support staged_fix, which means that the command will try to make changes and stage the changes
# This won't happen by default though.
pre-commit:
  parallel: true
  # copy what {staged_files} does, so we can use {files}, and re-use them in pre-push
  files: git diff --name-only --cached --diff-filter=ACMR

  # When adding new commands to this list, make sure to update the pre-push in this file, and lefthook-local.yml.example
  commands:
    protect_main:
      only:
        - ref: main
      run: .lefthook/no_commit_to_branch.sh --branch main
    rubocop: &rubocop
      tags: [backend, style, pre-commit-and-pre-push, autofix]
      glob: "{Rakefile,Brewfile,Gemfile,*.{rb,rake,rabl,arb}}"
      run: .lefthook/rubocop {files}
      stage_fixed: true
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-pre-commit
    yml-sort:
      tags: [config, style, pre-commit-and-pre-push, autofix]
      glob: "config/*.yml"
      run: .lefthook/yml_sort {files}
      stage_fixed: true

# this runs after pre-commit and before the editor is opened
prepare-commit-msg:
  commands:
    # This populates the Co-authored-by trailer
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-prepare-commit-msg {0}

post-commit:
  commands:
    # rotates authors if GIT_DUET_ROTATE_AUTHOR is set
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-post-commit {0}

# Experimental support for pre-push checks instead of pre-commit. They are skipped here,
# but you can copy lefthook-local.yml.example to lefthook-local.yml and follow the notes about using pre-push
#
# To stop using it, revert the changes you made to lefthook-local.yml (or remove), and run:
#   - rm .git/hooks/pre-push
pre-push:
  parallel: true
  skip: true
  # use the same thing as push_state, so we can share commands
  files: git diff --name-only HEAD @{push} || git diff --name-only HEAD main

  commands:
    rubocop:
      <<: *rubocop
    yml-sort:
      tags: [config, style, pre-commit-and-pre-push, autofix]
      glob: "config/*.yml"
      run: .lefthook/yml_sort {files}
      stage_fixed: true

Apply suggestion from @dduugg
  .github/workflows/build.yml
Due: none

fix: count names inside string/heredoc bodies as references
  lib/rubocop/cop/gusto/unreferenced_let.rb
  spec/rubocop/cop/gusto/unreferenced_let_spec.rb
Due: rubocop

refactor: subclass RSpec::Base and use its DSL matchers
  lib/rubocop/cop/gusto/unreferenced_let.rb
Due: rubocop

fix: skip invalid-UTF-8 string literals when collecting references
  lib/rubocop/cop/gusto/unreferenced_let.rb
  spec/rubocop/cop/gusto/unreferenced_let_spec.rb
Due: rubocop

Add doc comments and @example blocks to the 8 undocumented cops
  lib/rubocop/cop/gusto/bootsnap_load_file.rb
  lib/rubocop/cop/gusto/datadog_constant.rb
  lib/rubocop/cop/gusto/discouraged_gem.rb
  lib/rubocop/cop/gusto/execute_migration.rb
  lib/rubocop/cop/gusto/factory_classes_or_modules.rb
  lib/rubocop/cop/gusto/paperclip_or_attachable.rb
  lib/rubocop/cop/gusto/polymorphic_type_validation.rb
  lib/rubocop/cop/gusto/sidekiq_params.rb
Due: rubocop

Apply suggestions from code review
  lib/rubocop/cop/gusto/discouraged_gem.rb
Due: rubocop

feat: add Gusto/DescribedClassConstantReference cop (#127)
  config/default.yml
  lib/rubocop/cop/gusto/described_class_constant_reference.rb
  spec/rubocop/cop/gusto/described_class_constant_reference_spec.rb
Due: rubocop, yml-sort

feat!: add Gusto/UnreferencedLet cop (requires Ruby >= 3.4) (#128)
  .github/workflows/build.yml
  .rubocop.yml
  config/default.yml
  lib/rubocop/cop/gusto/unreferenced_let.rb
  rubocop-gusto.gemspec
  spec/rubocop/cop/gusto/unreferenced_let_spec.rb
  spec/rubocop/gusto/config_yml_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

fix: use fully-qualified constant in UnreferencedLet spec
  spec/rubocop/cop/gusto/unreferenced_let_spec.rb
Due: rubocop

build: point test image gem mirror at Cloudsmith (#126)
  Dockerfile.test
Due: none

Add extracted `RSpec/NoPerformAsyncStub` in a separate config
  README.md
  config/default.yml
  config/sidekiq.yml
  lib/rubocop/cop/rspec/no_perform_async_stub.rb
  lib/rubocop/gusto/init.rb
  spec/rubocop/cop/rspec/no_perform_async_stub_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

feat: add cops-only entrypoints for selective adoption
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/all.rb
  lib/rubocop/cop/gusto/unreferenced_let.rb
Due: rubocop, yml-sort

feat: relax required_ruby_version to >= 3.3
  rubocop-gusto.gemspec
Due: none

revert: restore required_ruby_version to >= 3.4
  rubocop-gusto.gemspec
Due: none

feat: add cops-only entrypoints for selective adoption
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/all.rb
Due: rubocop, yml-sort

simplify all.rb: gemspec >= 3.4 makes the Ruby version guard redundant
  lib/rubocop/cop/gusto/all.rb
Due: rubocop

add Gusto/UnreferencedLet to gusto_cops.yml
  config/gusto_cops.yml
Due: yml-sort

refactor: make gusto_cops.yml the single source of truth for Gusto cop settings
  config/default.yml
Due: yml-sort

fix specs: check each config file's own keys, not the merged result
  spec/rubocop/gusto_spec.rb
Due: rubocop

test: extend coverage to gusto_cops.yml and enforce separation of concerns
  spec/rubocop/gusto_spec.rb
Due: rubocop

Add links to actual docs on how to create a new cop and choose a name
  README.md
Due: none

Allow `expect(Foo).to have_received(:perform_async)` because it doesn't do a new stub
  lib/rubocop/cop/rspec/no_perform_async_stub.rb
  spec/rubocop/cop/rspec/no_perform_async_stub_spec.rb
Due: rubocop

docs: add source doc comments and @example blocks to 8 undocumented cops (#129)
  lib/rubocop/cop/gusto/bootsnap_load_file.rb
  lib/rubocop/cop/gusto/datadog_constant.rb
  lib/rubocop/cop/gusto/discouraged_gem.rb
  lib/rubocop/cop/gusto/execute_migration.rb
  lib/rubocop/cop/gusto/factory_classes_or_modules.rb
  lib/rubocop/cop/gusto/paperclip_or_attachable.rb
  lib/rubocop/cop/gusto/polymorphic_type_validation.rb
  lib/rubocop/cop/gusto/sidekiq_params.rb
Due: rubocop

Also allow `.and_wrap_original` as non-offense in addition to `.and_call_original`
  lib/rubocop/cop/rspec/no_perform_async_stub.rb
  spec/rubocop/cop/rspec/no_perform_async_stub_spec.rb
Due: rubocop

Rename cop from `RSpec/NoPerformAsyncStub` to `Sidekiq/NoPerformAsyncStub`
  AGENTS.md
  README.md
  config/default.yml
  config/sidekiq.yml
  lib/rubocop/cop/sidekiq/no_perform_async_stub.rb
  spec/rubocop/cop/sidekiq/no_perform_async_stub_spec.rb
Due: rubocop, yml-sort

fix: exclude .buildkite directories from AllCops in shared config
  config/default.yml
Due: yml-sort

fix: support Ruby 3.3 by replacing `it` implicit parameter with explicit block arg
  lib/rubocop/cop/gusto/unreferenced_let.rb
  rubocop-gusto.gemspec
Due: rubocop

ci: add Ruby 3.3 to test matrix
  .github/workflows/build.yml
Due: none

refactor: address review feedback on all.rb and unreferenced_let.rb
  lib/rubocop/cop/gusto/all.rb
  lib/rubocop/cop/gusto/unreferenced_let.rb
Due: rubocop

feat: add cops-only entrypoints for selective adoption (#132)
  .github/workflows/build.yml
  config/default.yml
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/all.rb
  lib/rubocop/cop/gusto/unreferenced_let.rb
  rubocop-gusto.gemspec
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

Do not autocorrect offenses that use code block to generate response
  lib/rubocop/cop/sidekiq/no_perform_async_stub.rb
  spec/rubocop/cop/sidekiq/no_perform_async_stub_spec.rb
Due: rubocop

Detect presence of Sidekiq as an implicit dependency in Gemfile.lock
  lib/rubocop/gusto/init.rb
  spec/rubocop/gusto/cli_spec.rb
Due: rubocop

Rename cop from `Sidekiq/NoPerformAsyncStub` to `Sidekiq/PerformAsyncStub`
  config/default.yml
  config/sidekiq.yml
  lib/rubocop/cop/sidekiq/perform_async_stub.rb
  spec/rubocop/cop/sidekiq/perform_async_stub_spec.rb
Due: rubocop, yml-sort

Deduplicated code for Sidekiq detection
  lib/rubocop/gusto/init.rb
Due: rubocop

feat: add `Sidekiq/PerformAsyncStub` in a separate config (#131)
  AGENTS.md
  README.md
  config/default.yml
  config/sidekiq.yml
  lib/rubocop/cop/sidekiq/perform_async_stub.rb
  lib/rubocop/gusto/init.rb
  spec/rubocop/cop/sidekiq/perform_async_stub_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

fix: use UTF-8 encoding when reading support files in UnreferencedLet
  lib/rubocop/cop/gusto/unreferenced_let.rb
Due: rubocop

feat: add Gusto/PluckOnSelect cop
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/pluck_on_select.rb
  spec/rubocop/cop/gusto/pluck_on_select_spec.rb
Due: rubocop, yml-sort
