Repository Gusto/rubocop-gusto: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yml-sort

lefthook.yml:

# See lefthook-local.yml.example for some ways you can customize lefthook
# ie use pre-push instead of pre-commit for several checks

# We install lefthook via bundler, but .git/hooks/pre-commit will use a lefthook
# on the path instead of bundler.
#
# Therefore, we should set a minimum version just in case. If you run into this, there's two possible fixes:
# - `brew uninstall lefthook` to remove it altogether
# - `brew upgrade lefthook`
#
# Reason for this version: adds option to `skip_lfs` https://github.com/evilmartians/lefthook/pull/879
min_version: 1.8.5

# Skip `git lfs` integration as it's unnecessary and very slow in zenpayroll
skip_lfs: true

skip_output:
  - meta           # Skips lefthook version printing
  # - summary      # Skips summary block (successful and failed steps) printing
  - empty_summary  # Skips summary heading when there are no steps to run
  # - success      # Skips successful steps printing
  # - failure      # Skips failed steps printing
  - execution      # Skips printing any execution logs (but prints if the execution failed)
  - execution_out  # Skips printing execution output (but still prints failed commands output)
  - execution_info # Skips printing `EXECUTE > ...` logging
  - skips          # Skips "skip" printing (i.e. no files matched)
  - meta           # Skips lefthook version printing

# === tags ===
# - pre-commit-and-pre-push:
#     for commands we want to let people run at pre-commit or at pre-push. most commands are in this category unless they are specific to commits


# NOTE: some commands support staged_fix, which means that the command will try to make changes and stage the changes
# This won't happen by default though.
pre-commit:
  parallel: true
  # copy what {staged_files} does, so we can use {files}, and re-use them in pre-push
  files: git diff --name-only --cached --diff-filter=ACMR

  # When adding new commands to this list, make sure to update the pre-push in this file, and lefthook-local.yml.example
  commands:
    protect_main:
      only:
        - ref: main
      run: .lefthook/no_commit_to_branch.sh --branch main
    rubocop: &rubocop
      tags: [backend, style, pre-commit-and-pre-push, autofix]
      glob: "{Rakefile,Brewfile,Gemfile,*.{rb,rake,rabl,arb}}"
      run: .lefthook/rubocop {files}
      stage_fixed: true
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-pre-commit
    yml-sort:
      tags: [config, style, pre-commit-and-pre-push, autofix]
      glob: "config/*.yml"
      run: .lefthook/yml_sort {files}
      stage_fixed: true

# this runs after pre-commit and before the editor is opened
prepare-commit-msg:
  commands:
    # This populates the Co-authored-by trailer
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-prepare-commit-msg {0}

post-commit:
  commands:
    # rotates authors if GIT_DUET_ROTATE_AUTHOR is set
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-post-commit {0}

# Experimental support for pre-push checks instead of pre-commit. They are skipped here,
# but you can copy lefthook-local.yml.example to lefthook-local.yml and follow the notes about using pre-push
#
# To stop using it, revert the changes you made to lefthook-local.yml (or remove), and run:
#   - rm .git/hooks/pre-push
pre-push:
  parallel: true
  skip: true
  # use the same thing as push_state, so we can share commands
  files: git diff --name-only HEAD @{push} || git diff --name-only HEAD main

  commands:
    rubocop:
      <<: *rubocop
    yml-sort:
      tags: [config, style, pre-commit-and-pre-push, autofix]
      glob: "config/*.yml"
      run: .lefthook/yml_sort {files}
      stage_fixed: true

ci: add release-please configuration files
  .release-please-manifest.json
  release-please-config.json
Due: none

ci: add release-please GitHub Actions workflow
  .github/workflows/release-please.yml
Due: none

ci: add workflow to update Gemfile.lock on release PRs
  .github/workflows/update-release-lockfile.yml
Due: none

ci: add PR title validation for conventional commits
  .github/workflows/validate-pr-title.yml
Due: none

ci: add local commit-msg hook for conventional commits
  lefthook.yml
  script/validate-commit-msg.sh
Due: none

docs: update release process documentation
  CHANGELOG.md
  README.md
Due: none

fix: use shell-based PR title validation to avoid IP allowlist
  .github/workflows/validate-pr-title.yml
Due: none

fix: move lockfile update into release-please workflow to prevent RCE
  .github/workflows/release-please.yml
  .github/workflows/update-release-lockfile.yml
Due: none

ci: trigger release on GitHub Release event and upload gem asset
  .github/workflows/release.yml
Due: none

ci: adopt release-please and fast_cov release mechanism (#83)
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/validate-pr-title.yml
  .release-please-manifest.json
  CHANGELOG.md
  README.md
  lefthook.yml
  release-please-config.json
  script/validate-commit-msg.sh
Due: none

fix: pin GitHub Actions to commit SHAs to prevent supply-chain attacks
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none

fix: pin GitHub Actions to commit SHAs to prevent supply-chain attacks (#85)
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none

chore: update dependabot to monthly grouped PRs with conventional commit prefix
  .github/dependabot.yml
Due: none

ci: use pull_request_target so Validate PR Title runs on dependabot PRs
  .github/workflows/validate-pr-title.yml
Due: none

ci: also keep pull_request trigger alongside pull_request_target
  .github/workflows/validate-pr-title.yml
Due: none

ci: upgrade actions/checkout from v4.3.1 to v5.0.1 (Node.js 24)
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none

ci: rename job to match required check name; drop pull_request_target
  .github/workflows/validate-pr-title.yml
Due: none

ci: fix invalid job ID (spaces not allowed); use name field for display
  .github/workflows/validate-pr-title.yml
Due: none

ci: fix dependabot PR workflow — conventional commit prefix, correct check name, Node.js 24 (#86)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/validate-pr-title.yml
Due: none

docs: add conventional commits and lint command to AGENTS.md
  AGENTS.md
Due: none

docs: add conventional commits and lint command to AGENTS.md (#88)
  AGENTS.md
Due: none

fix: correct release-please-action pinned SHA
  .github/workflows/release-please.yml
Due: none

fix: correct release-please-action pinned SHA (#89)
  .github/workflows/release-please.yml
Due: none

chore: remove misleading pending test from ExecuteMigration spec
  spec/rubocop/cop/gusto/execute_migration_spec.rb
Due: rubocop

chore: remove misleading pending test from ExecuteMigration spec (#90)
  spec/rubocop/cop/gusto/execute_migration_spec.rb
Due: rubocop

Revert "chore: remove misleading pending test from ExecuteMigration spec (#90)"
  spec/rubocop/cop/gusto/execute_migration_spec.rb
Due: rubocop

chore: remove redundant config entries from new-service configs
  config/default-legacy.yml
  config/default.yml
  config/rails-legacy.yml
  config/rails.yml
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

chore: remove redundant config entries from new-service configs
  config/default.yml
  config/rails.yml
Due: yml-sort

chore: rename existing configs to default-legacy and rails-legacy
  config/default-legacy.yml
  config/rails-legacy.yml
Due: yml-sort

Change runner configuration to use custom group
  .github/workflows/release-please.yml
Due: none

fix: remove extra empty line at block body end in execute_migration_spec
  spec/rubocop/cop/gusto/execute_migration_spec.rb
Due: rubocop

fix: remove extra empty line in execute_migration_spec (#96)
  spec/rubocop/cop/gusto/execute_migration_spec.rb
Due: rubocop

fix: Change runner configuration to use custom group (#95)
  .github/workflows/release-please.yml
  spec/rubocop/cop/gusto/execute_migration_spec.rb
Due: rubocop

ci: add zizmor security audit and resolve all violations
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/validate-pr-title.yml
  .github/workflows/zizmor.yml
Due: none

fix: correct zizmor linux release asset name in CI workflow
  .github/workflows/zizmor.yml
Due: none

ci: add zizmor security audit and resolve all GitHub Actions violations (#99)
  .github/workflows/build.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/validate-pr-title.yml
  .github/workflows/zizmor.yml
Due: none

fix: use GitHub App token in release-please to trigger CI on PRs
  .github/workflows/release-please.yml
Due: none

fix: use GitHub App token in release-please to trigger CI on PRs (#98)
  .github/workflows/release-please.yml
Due: none

docs: improve README with lint_roller mention, available cops, and contributing guide
  README.md
Due: none

docs: add shields.io badges for gem version, build, and release
  README.md
Due: none
