Repository Gusto/rubocop-gusto: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yml-sort

lefthook.yml:

# See lefthook-local.yml.example for some ways you can customize lefthook
# ie use pre-push instead of pre-commit for several checks

# We install lefthook via bundler, but .git/hooks/pre-commit will use a lefthook
# on the path instead of bundler.
#
# Therefore, we should set a minimum version just in case. If you run into this, there's two possible fixes:
# - `brew uninstall lefthook` to remove it altogether
# - `brew upgrade lefthook`
#
# Reason for this version: adds option to `skip_lfs` https://github.com/evilmartians/lefthook/pull/879
min_version: 1.8.5

# Skip `git lfs` integration as it's unnecessary and very slow in zenpayroll
skip_lfs: true

skip_output:
  - meta           # Skips lefthook version printing
  # - summary      # Skips summary block (successful and failed steps) printing
  - empty_summary  # Skips summary heading when there are no steps to run
  # - success      # Skips successful steps printing
  # - failure      # Skips failed steps printing
  - execution      # Skips printing any execution logs (but prints if the execution failed)
  - execution_out  # Skips printing execution output (but still prints failed commands output)
  - execution_info # Skips printing `EXECUTE > ...` logging
  - skips          # Skips "skip" printing (i.e. no files matched)
  - meta           # Skips lefthook version printing

# === tags ===
# - pre-commit-and-pre-push:
#     for commands we want to let people run at pre-commit or at pre-push. most commands are in this category unless they are specific to commits


# NOTE: some commands support staged_fix, which means that the command will try to make changes and stage the changes
# This won't happen by default though.
pre-commit:
  parallel: true
  # copy what {staged_files} does, so we can use {files}, and re-use them in pre-push
  files: git diff --name-only --cached --diff-filter=ACMR

  # When adding new commands to this list, make sure to update the pre-push in this file, and lefthook-local.yml.example
  commands:
    protect_main:
      only:
        - ref: main
      run: .lefthook/no_commit_to_branch.sh --branch main
    rubocop: &rubocop
      tags: [backend, style, pre-commit-and-pre-push, autofix]
      glob: "{Rakefile,Brewfile,Gemfile,*.{rb,rake,rabl,arb}}"
      run: .lefthook/rubocop {files}
      stage_fixed: true
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-pre-commit
    yml-sort:
      tags: [config, style, pre-commit-and-pre-push, autofix]
      glob: "config/*.yml"
      run: .lefthook/yml_sort {files}
      stage_fixed: true

# this runs after pre-commit and before the editor is opened
prepare-commit-msg:
  commands:
    # This populates the Co-authored-by trailer
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-prepare-commit-msg {0}

post-commit:
  commands:
    # rotates authors if GIT_DUET_ROTATE_AUTHOR is set
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-post-commit {0}

# Experimental support for pre-push checks instead of pre-commit. They are skipped here,
# but you can copy lefthook-local.yml.example to lefthook-local.yml and follow the notes about using pre-push
#
# To stop using it, revert the changes you made to lefthook-local.yml (or remove), and run:
#   - rm .git/hooks/pre-push
pre-push:
  parallel: true
  skip: true
  # use the same thing as push_state, so we can share commands
  files: git diff --name-only HEAD @{push} || git diff --name-only HEAD main

  commands:
    rubocop:
      <<: *rubocop
    yml-sort:
      tags: [config, style, pre-commit-and-pre-push, autofix]
      glob: "config/*.yml"
      run: .lefthook/yml_sort {files}
      stage_fixed: true

Opt in to Rails/IgnoredColumnsAssignment (#9)
  config/rails.yml
Due: yml-sort

enforce double quotes (disable in specific projects as needed)
  config/default.yml
Due: yml-sort

Update config.toml
  .config/mise/config.toml
Due: none

Update lefthook-local.yml.example
  lefthook-local.yml.example
Due: none

Lefthook (#10)
  .config/mise/config.toml
  .lefthook/common.sh
  .lefthook/no_commit_to_branch.sh
  .lefthook/rubocop
  .lefthook/yml_sort
  lefthook-local.yml.example
  lefthook.yml
Due: none

Bump to 10.1.1
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Fix inconsistent indentation
  config/default.yml
Due: yml-sort

Clean up some defaults
  config/default.yml
Due: yml-sort

Resolve violation
  rubocop-gusto.gemspec
Due: none

Use default Style/InverseMethods
  config/default.yml
Due: yml-sort

Fix inconsistent indentation (#13)
  config/default.yml
Due: yml-sort

Keep Style/GuardClause disabled
  config/default.yml
  rubocop-gusto.gemspec
Due: yml-sort

Clean up some defaults (#14)
  config/default.yml
Due: yml-sort

Use default Style/InverseMethods (#15)
  config/default.yml
Due: yml-sort

Fix infinite loop and splitting problem in init
  lib/rubocop/gusto/config_yml.rb
  lib/rubocop/gusto/templates/rubocop.yml
  spec/rubocop/gusto/config_yml_spec.rb
Due: rubocop

Fix infinite loop and splitting problem in init (#16)
  lib/rubocop/gusto/config_yml.rb
  lib/rubocop/gusto/templates/rubocop.yml
  spec/rubocop/gusto/config_yml_spec.rb
Due: rubocop

Add ActiveSupportExtensionsEnabled to rails config
  config/rails.yml
Due: yml-sort

Add ActiveSupportExtensionsEnabled to rails config (#20)
  config/rails.yml
Due: yml-sort

Fix Sorbet sigil exclusions, exclude specs from strict
  config/default.yml
Due: yml-sort

Add missing rubocop-sorbet dependency
  Gemfile.lock
  rubocop-gusto.gemspec
Due: none

Remove unused bigdecimal dependency
  Gemfile.lock
  rubocop-gusto.gemspec
Due: none

Remove redundant plugins, disable sorbet in repo
  .rubocop.yml
  .rubocop_todo.yml
Due: none

Remove unused bigdecimal dependency (#26)
  Gemfile.lock
  rubocop-gusto.gemspec
Due: none

Fix Sorbet sigil exclusions, exclude specs from strict (#25)
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile.lock
  config/default.yml
  rubocop-gusto.gemspec
Due: yml-sort

Release 10.2.0
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Mark Gusto/UsePaintNotColorize autocorrection as unsafe
  config/default.yml
  lib/rubocop/cop/gusto/use_paint_not_colorize.rb
  spec/rubocop/cop/gusto/use_paint_not_colorize_spec.rb
Due: rubocop, yml-sort

Add vendor/bundle to .gitignore
  .gitignore
Due: none

Release 10.2.0 (#27)
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Mark Gusto/UsePaintNotColorize unsafe (#31)
  .gitignore
  config/default.yml
  lib/rubocop/cop/gusto/use_paint_not_colorize.rb
  spec/rubocop/cop/gusto/use_paint_not_colorize_spec.rb
Due: rubocop, yml-sort

Require valid type sigils in specs
  config/default.yml
Due: yml-sort

Require valid type sigils in specs (#32)
  config/default.yml
Due: yml-sort

Disable Style/TernaryParentheses cop
  config/default.yml
Due: yml-sort

Disable Style/TernaryParentheses cop (#34)
  config/default.yml
Due: yml-sort

Disable RSpec/DescribedClassModuleWrapping
  config/default.yml
Due: yml-sort

Disable RSpec/DescribedClassModuleWrapping (#40)
  config/default.yml
Due: yml-sort

Enforce time units on date and time arithmetic.
  config/default.yml
  lib/rubocop/cop/gusto/explicit_time_units.rb
  spec/rubocop/cop/gusto/explicit_time_units_spec.rb
Due: rubocop, yml-sort

Fix up the rubocop errors.
  lib/rubocop/cop/gusto/explicit_time_units.rb
  spec/rubocop/cop/gusto/explicit_time_units_spec.rb
Due: rubocop

Make it work for floats too and get the code coverage to 100%.
  lib/rubocop/cop/gusto/explicit_time_units.rb
  spec/rubocop/cop/gusto/explicit_time_units_spec.rb
Due: rubocop
