Repository Gusto/rubocop-gusto: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yml-sort

lefthook.yml:

# See lefthook-local.yml.example for some ways you can customize lefthook
# ie use pre-push instead of pre-commit for several checks

# We install lefthook via bundler, but .git/hooks/pre-commit will use a lefthook
# on the path instead of bundler.
#
# Therefore, we should set a minimum version just in case. If you run into this, there's two possible fixes:
# - `brew uninstall lefthook` to remove it altogether
# - `brew upgrade lefthook`
#
# Reason for this version: adds option to `skip_lfs` https://github.com/evilmartians/lefthook/pull/879
min_version: 1.8.5

# Skip `git lfs` integration as it's unnecessary and very slow in zenpayroll
skip_lfs: true

skip_output:
  - meta           # Skips lefthook version printing
  # - summary      # Skips summary block (successful and failed steps) printing
  - empty_summary  # Skips summary heading when there are no steps to run
  # - success      # Skips successful steps printing
  # - failure      # Skips failed steps printing
  - execution      # Skips printing any execution logs (but prints if the execution failed)
  - execution_out  # Skips printing execution output (but still prints failed commands output)
  - execution_info # Skips printing `EXECUTE > ...` logging
  - skips          # Skips "skip" printing (i.e. no files matched)
  - meta           # Skips lefthook version printing

# === tags ===
# - pre-commit-and-pre-push:
#     for commands we want to let people run at pre-commit or at pre-push. most commands are in this category unless they are specific to commits


# NOTE: some commands support staged_fix, which means that the command will try to make changes and stage the changes
# This won't happen by default though.
pre-commit:
  parallel: true
  # copy what {staged_files} does, so we can use {files}, and re-use them in pre-push
  files: git diff --name-only --cached --diff-filter=ACMR

  # When adding new commands to this list, make sure to update the pre-push in this file, and lefthook-local.yml.example
  commands:
    protect_main:
      only:
        - ref: main
      run: .lefthook/no_commit_to_branch.sh --branch main
    rubocop: &rubocop
      tags: [backend, style, pre-commit-and-pre-push, autofix]
      glob: "{Rakefile,Brewfile,Gemfile,*.{rb,rake,rabl,arb}}"
      run: .lefthook/rubocop {files}
      stage_fixed: true
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-pre-commit
    yml-sort:
      tags: [config, style, pre-commit-and-pre-push, autofix]
      glob: "config/*.yml"
      run: .lefthook/yml_sort {files}
      stage_fixed: true

# this runs after pre-commit and before the editor is opened
prepare-commit-msg:
  commands:
    # This populates the Co-authored-by trailer
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-prepare-commit-msg {0}

post-commit:
  commands:
    # rotates authors if GIT_DUET_ROTATE_AUTHOR is set
    git-duet:
      skip: true
      tags: ['git-duet']
      run: git duet-post-commit {0}

# Experimental support for pre-push checks instead of pre-commit. They are skipped here,
# but you can copy lefthook-local.yml.example to lefthook-local.yml and follow the notes about using pre-push
#
# To stop using it, revert the changes you made to lefthook-local.yml (or remove), and run:
#   - rm .git/hooks/pre-push
pre-push:
  parallel: true
  skip: true
  # use the same thing as push_state, so we can share commands
  files: git diff --name-only HEAD @{push} || git diff --name-only HEAD main

  commands:
    rubocop:
      <<: *rubocop
    yml-sort:
      tags: [config, style, pre-commit-and-pre-push, autofix]
      glob: "config/*.yml"
      run: .lefthook/yml_sort {files}
      stage_fixed: true

Fix up the items found in the PR review.
  .rubocop.yml
  lib/rubocop/cop/gusto/explicit_time_units.rb
  spec/rubocop/cop/gusto/explicit_time_units_spec.rb
Due: rubocop

Add Gusto/RSpecDateTimeMock cop
  config/default.yml
  lib/rubocop/cop/gusto/rspec_date_time_mock.rb
  spec/rubocop/cop/gusto/rspec_date_time_mock_spec.rb
Due: rubocop, yml-sort

Exclude Gusto/RspecDateTimeMock from the OnSendWithoutOnCSend cop
  .rubocop.yml
Due: none

Bump version to 10.3.0, update CHANGELOG
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

[RR-535] Add Gusto/RSpecDateTimeMock cop (#44)
  .rubocop.yml
  CHANGELOG.md
  Gemfile.lock
  config/default.yml
  lib/rubocop/cop/gusto/rspec_date_time_mock.rb
  lib/rubocop/gusto/version.rb
  spec/rubocop/cop/gusto/rspec_date_time_mock_spec.rb
Due: rubocop, yml-sort

Update Gusto/PolymorphicTypeValidation settings
  config/default.yml
Due: yml-sort

Fix rubocop issues
  config/default.yml
Due: yml-sort

[RR-549] Update Gusto/PolymorphicTypeValidation settings (#46)
  config/default.yml
Due: yml-sort

Fix diff / build issues
  config/default.yml
  lib/rubocop/cop/gusto/discouraged_gem.rb
  spec/rubocop/cop/gusto/discouraged_gem_spec.rb
  spec/rubocop/cop/gusto/discouraged_gem_timecop_spec.rb
Due: rubocop, yml-sort

Add Gusto/DiscouragedGems with first gem added: timecop
  config/rails.yml
  lib/rubocop/cop/gusto/discouraged_gems.rb
  spec/rubocop/cop/gusto/discouraged_gems_spec.rb
Due: rubocop, yml-sort

Split gem-specific tests out to their own files to scale testing for future multiple gems
  config/default.yml
  config/rails.yml
  lib/rubocop/cop/gusto/discouraged_gems.rb
  spec/rubocop/cop/gusto/discouraged_gems/timecop_spec.rb
  spec/rubocop/cop/gusto/discouraged_gems_spec.rb
Due: rubocop, yml-sort

Fix rubocop issues
  .rubocop.yml
  config/default.yml
  lib/rubocop/cop/gusto/discouraged_gem.rb
  spec/rubocop/cop/gusto/discouraged_gem_spec.rb
  spec/rubocop/cop/gusto/discouraged_gem_timecop_spec.rb
Due: rubocop, yml-sort

Refactor out unecessary code, improve config UX
  config/default.yml
  config/rails.yml
  lib/rubocop/cop/gusto/discouraged_gem.rb
  spec/rubocop/cop/gusto/discouraged_gem_spec.rb
Due: rubocop, yml-sort

Replace duplicate test with msgpergem functionality test
  spec/rubocop/cop/gusto/discouraged_gem_spec.rb
Due: rubocop

Update lib/rubocop/cop/gusto/discouraged_gem.rb
  lib/rubocop/cop/gusto/discouraged_gem.rb
Due: rubocop

Test the actual config for the timecop specs
  config/rails.yml
  spec/rubocop/cop/gusto/discouraged_gem_timecop_spec.rb
Due: rubocop, yml-sort

Replace method impl. with RESTRICT_ON_SEND
  lib/rubocop/cop/gusto/discouraged_gem.rb
Due: rubocop

Improve performance
  lib/rubocop/cop/gusto/discouraged_gem.rb
Due: rubocop

Fix type check line
  lib/rubocop/cop/gusto/discouraged_gem.rb
Due: rubocop

Cleanup
  lib/rubocop/cop/gusto/discouraged_gem.rb
Due: rubocop

Slight cleanup
  lib/rubocop/cop/gusto/discouraged_gem.rb
Due: rubocop

[RR-539] Add Gusto/DiscouragedGem with first gem added: timecop (#45)
  .rubocop.yml
  config/default.yml
  config/rails.yml
  lib/rubocop/cop/gusto/discouraged_gem.rb
  spec/rubocop/cop/gusto/discouraged_gem_spec.rb
  spec/rubocop/cop/gusto/discouraged_gem_timecop_spec.rb
Due: rubocop, yml-sort

Bump 10.4.0
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Update changelog Pending
  CHANGELOG.md
Due: none

Bump 10.4.0 (#47)
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Allow __send__ in specs, we still have Style/Send as well
  config/default.yml
Due: yml-sort

Allow `__send__` in specs, we still have `Style/Send` as well (#51)
  config/default.yml
Due: yml-sort

Extend BootsnapLoadFile to handle itblock nodes
  lib/rubocop/cop/gusto/bootsnap_load_file.rb
Due: rubocop

Prefer 'it' to numbered block param
  config/default.yml
Due: yml-sort

Prefer 'it' to numbered block param use (#52)
  config/default.yml
  lib/rubocop/cop/gusto/bootsnap_load_file.rb
Due: rubocop, yml-sort

Disable Style/ArgumentsForwarding for sorbet compatibility
  config/default.yml
Due: yml-sort

Disable Style/ArgumentsForwarding for sorbet compatibility (#58)
  config/default.yml
Due: yml-sort

Remove ObjectIn lint for Ranges as Rails has updated to support Range cover?
  config/default.yml
  lib/rubocop/cop/gusto/object_in.rb
  spec/rubocop/cop/gusto/object_in_spec.rb
Due: rubocop, yml-sort

Fix encoding and empty line fallback for yaml sort
  lib/rubocop/gusto/config_yml.rb
Due: rubocop

Bump version in accordance with modified SEMVER
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

Delete `Object#in?` cop (#60)
  Gemfile.lock
  config/default.yml
  lib/rubocop/cop/gusto/object_in.rb
  lib/rubocop/gusto/config_yml.rb
  lib/rubocop/gusto/version.rb
  spec/rubocop/cop/gusto/object_in_spec.rb
Due: rubocop, yml-sort

Add Rack/LowercaseHeaderKeys cop
  CHANGELOG.md
  config/default.yml
  lib/rubocop/cop/rack/lowercase_header_keys.rb
  spec/rubocop/cop/rack/lowercase_header_keys_spec.rb
Due: rubocop, yml-sort

Lint & fix
  lib/rubocop/cop/rack/lowercase_header_keys.rb
  spec/rubocop/cop/rack/lowercase_header_keys_spec.rb
Due: rubocop

Lint & fix
  config/default.yml
Due: yml-sort

Add Rack/LowercaseHeaderKeys rule (#61)
  CHANGELOG.md
  config/default.yml
  lib/rubocop/cop/rack/lowercase_header_keys.rb
  spec/rubocop/cop/rack/lowercase_header_keys_spec.rb
Due: rubocop, yml-sort
