Repository Gusto/rubocop-gusto: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yml-sort

rubocop:
  tags:
  - backend
  - style
  - pre-commit-and-pre-push
  - autofix
  run: .lefthook/rubocop {files}
  stage_fixed: true

yml-sort:
  tags:
  - config
  - style
  - pre-commit-and-pre-push
  - autofix
  run: .lefthook/yml_sort {files}
  stage_fixed: true

docs: improve README with badges, lint_roller mention, and contributing guide (#100)
  README.md
Due: none

feat: establish new standard RuboCop configuration with maintenance prompt
  .rubocop.yml
  AGENTS.md
  config/default.yml
  config/rails.yml
  lib/rubocop/cop/gusto/bootsnap_load_file.rb
  lib/rubocop/cop/gusto/datadog_constant.rb
  lib/rubocop/cop/gusto/discouraged_gem.rb
  lib/rubocop/cop/gusto/execute_migration.rb
  lib/rubocop/cop/gusto/factory_classes_or_modules.rb
  lib/rubocop/cop/gusto/min_by_max_by.rb
  lib/rubocop/cop/gusto/no_metaprogramming.rb
  lib/rubocop/cop/gusto/no_rescue_error_message_checking.rb
  lib/rubocop/cop/gusto/no_send.rb
  lib/rubocop/cop/gusto/paperclip_or_attachable.rb
  lib/rubocop/cop/gusto/perform_class_method.rb
  lib/rubocop/cop/gusto/polymorphic_type_validation.rb
  lib/rubocop/cop/gusto/rabl_extends.rb
  lib/rubocop/cop/gusto/rails_env.rb
  lib/rubocop/cop/gusto/rake_constants.rb
  lib/rubocop/cop/gusto/regexp_bypass.rb
  lib/rubocop/cop/gusto/rspec_date_time_mock.rb
  lib/rubocop/cop/gusto/sidekiq_params.rb
  lib/rubocop/cop/gusto/use_paint_not_colorize.rb
  lib/rubocop/cop/gusto/vcr_recordings.rb
  lib/rubocop/cop/internal_affairs/assignment_first.rb
  lib/rubocop/cop/rack/lowercase_header_keys.rb
  lib/rubocop/gusto/cli.rb
  lib/rubocop/gusto/config_yml.rb
  lib/rubocop/gusto/init.rb
  lib/rubocop/gusto/plugin.rb
  prompts/update-rubocop-config.md
  rubocop-gusto.gemspec
  spec/rubocop/cop/gusto/execute_migration_spec.rb
  spec/rubocop/cop/gusto/polymorphic_type_validation_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto/config_yml_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

Replace manual traversal with def_node_matcher/def_node_search
  lib/rubocop/cop/gusto/perform_class_method.rb
  lib/rubocop/cop/gusto/rails_env.rb
  lib/rubocop/cop/gusto/rspec_date_time_mock.rb
  lib/rubocop/cop/gusto/sidekiq_params.rb
  lib/rubocop/cop/gusto/use_paint_not_colorize.rb
Due: rubocop

docs: add reference links, csend requirement, and coverage note to AGENTS.md
  AGENTS.md
Due: none

docs: fix cop config override pattern in AGENTS.md (let(:cop_config), not Config.new)
  AGENTS.md
Due: none

fix: remove redundant Rails const guard in RailsEnv#on_send
  lib/rubocop/cop/gusto/rails_env.rb
Due: rubocop

refactor: apply rubocop-ast typed API throughout remaining cops
  lib/rubocop/cop/gusto/no_rescue_error_message_checking.rb
  lib/rubocop/cop/gusto/polymorphic_type_validation.rb
  lib/rubocop/cop/gusto/rspec_date_time_mock.rb
  lib/rubocop/cop/gusto/use_paint_not_colorize.rb
Due: rubocop

refactor: use rubocop-ast typed API and node matchers throughout (#103)
  AGENTS.md
  lib/rubocop/cop/gusto/no_rescue_error_message_checking.rb
  lib/rubocop/cop/gusto/perform_class_method.rb
  lib/rubocop/cop/gusto/polymorphic_type_validation.rb
  lib/rubocop/cop/gusto/rails_env.rb
  lib/rubocop/cop/gusto/rspec_date_time_mock.rb
  lib/rubocop/cop/gusto/sidekiq_params.rb
  lib/rubocop/cop/gusto/use_paint_not_colorize.rb
Due: rubocop

feat: enable StringLiteralsFrozenByDefault in AllCops
  config/default.yml
Due: yml-sort

feat!: replace Gusto/RailsEnv with upstream Rails/Env
  config/default.yml
  config/rails.yml
  lib/rubocop/cop/gusto/rails_env.rb
  spec/rubocop/cop/gusto/rails_env_spec.rb
Due: rubocop, yml-sort

feat: patch RSpec/ScatteredLet to recognize Sorbet `sig` blocks
  .ruby-version
  Gemfile.lock
  lib/rubocop/cop/rspec/scattered_let.rb
  spec/rubocop/cop/rspec/scattered_let_spec.rb
  spec/spec_helper.rb
Due: rubocop

feat: make MoveNode sig-aware so all relocation cops handle Sorbet sigs
  lib/rubocop-gusto.rb
  lib/rubocop/cop/rspec/scattered_let.rb
  lib/rubocop/gusto/move_node_patch.rb
  spec/rubocop/cop/rspec/hooks_before_examples_spec.rb
  spec/rubocop/cop/rspec/leading_subject_spec.rb
  spec/rubocop/cop/rspec/let_before_examples_spec.rb
Due: rubocop

feat: make rubocop-rspec move/scatter cops Sorbet-sig-aware (#107)
  .ruby-version
  Gemfile.lock
  lib/rubocop-gusto.rb
  lib/rubocop/cop/rspec/scattered_let.rb
  lib/rubocop/gusto/move_node_patch.rb
  spec/rubocop/cop/rspec/hooks_before_examples_spec.rb
  spec/rubocop/cop/rspec/leading_subject_spec.rb
  spec/rubocop/cop/rspec/let_before_examples_spec.rb
  spec/rubocop/cop/rspec/scattered_let_spec.rb
  spec/spec_helper.rb
Due: rubocop

ci: install gems before rake release and add github-actions to dependabot
  .github/dependabot.yml
  .github/workflows/release.yml
Due: none

ci: install gems before rake release; add github-actions to dependabot (#109)
  .github/dependabot.yml
  .github/workflows/release.yml
Due: none

fix: remove redundant config entries
  config/default.yml
  config/rails.yml
Due: yml-sort

fix: remove redundant config entries (#112)
  config/default.yml
  config/rails.yml
Due: yml-sort

fix: upload gem from pkg/ to GitHub release
  .github/workflows/release.yml
Due: none

fix: upload gem from pkg/ to GitHub release (#114)
  .github/workflows/release.yml
Due: none

Set EnforcedShorthandSyntax to 'always'
  config/default.yml
Due: yml-sort

fix: stop overriding AllCops scope in shared configs
  config/default.yml
  config/rails.yml
Due: yml-sort

feat!: remove global Exclude entries from AllCops (#117)
  config/default.yml
  config/rails.yml
Due: yml-sort

feat: add Gusto/SensitiveDataInLogs cop
  config/default.yml
  lib/rubocop/cop/gusto/sensitive_data_in_logs.rb
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
Due: rubocop, yml-sort

fix: disable CheckErrorMessage by default
  config/default.yml
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
Due: rubocop, yml-sort

chore: retarget release as 10.9.3 patch
  .release-please-manifest.json
  CHANGELOG.md
  Gemfile.lock
  lib/rubocop/gusto/version.rb
Due: rubocop

fix: update ExecuteMigration cop to recommend backfill sidekiq job
  lib/rubocop/cop/gusto/execute_migration.rb
  spec/rubocop/cop/gusto/execute_migration_spec.rb
Due: rubocop

Fix Style/HashSyntax offenses breaking Linter CI (#123)
  lib/rubocop/cop/gusto/discouraged_gem.rb
  lib/rubocop/cop/rack/lowercase_header_keys.rb
Due: rubocop

docs: note that violation changes are not breaking changes
  AGENTS.md
Due: none

fix: clean up Sorbet config and allow RBS inline annotations
  config/default.yml
Due: yml-sort

feat: establish next-generation RuboCop configuration as opt-in
  .rubocop.yml
  AGENTS.md
  config/default-next.yml
  config/rails-next.yml
  lib/rubocop/cop/gusto/bootsnap_load_file.rb
  lib/rubocop/cop/gusto/datadog_constant.rb
  lib/rubocop/cop/gusto/discouraged_gem.rb
  lib/rubocop/cop/gusto/execute_migration.rb
  lib/rubocop/cop/gusto/factory_classes_or_modules.rb
  lib/rubocop/cop/gusto/min_by_max_by.rb
  lib/rubocop/cop/gusto/no_metaprogramming.rb
  lib/rubocop/cop/gusto/no_rescue_error_message_checking.rb
  lib/rubocop/cop/gusto/no_send.rb
  lib/rubocop/cop/gusto/paperclip_or_attachable.rb
  lib/rubocop/cop/gusto/perform_class_method.rb
  lib/rubocop/cop/gusto/polymorphic_type_validation.rb
  lib/rubocop/cop/gusto/rabl_extends.rb
  lib/rubocop/cop/gusto/rails_env.rb
  lib/rubocop/cop/gusto/rake_constants.rb
  lib/rubocop/cop/gusto/regexp_bypass.rb
  lib/rubocop/cop/gusto/rspec_date_time_mock.rb
  lib/rubocop/cop/gusto/sidekiq_params.rb
  lib/rubocop/cop/gusto/use_paint_not_colorize.rb
  lib/rubocop/cop/gusto/vcr_recordings.rb
  lib/rubocop/cop/internal_affairs/assignment_first.rb
  lib/rubocop/cop/rack/lowercase_header_keys.rb
  lib/rubocop/gusto/cli.rb
  lib/rubocop/gusto/config_yml.rb
  lib/rubocop/gusto/init.rb
  lib/rubocop/gusto/plugin.rb
  prompts/update-rubocop-config.md
  rubocop-gusto.gemspec
  spec/rubocop/cop/gusto/polymorphic_type_validation_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto/config_yml_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

fix: resolve RuboCop offenses in RSpec sig-aware patches
  lib/rubocop/cop/rspec/scattered_let.rb
  lib/rubocop/gusto/move_node_patch.rb
Due: rubocop

fix: tighten Sorbet sigil config and allow RBS inline annotations (#120)
  AGENTS.md
  config/default.yml
Due: yml-sort

feat: Set EnforcedShorthandSyntax to 'always' (#116)
  config/default.yml
  lib/rubocop/cop/gusto/discouraged_gem.rb
  lib/rubocop/cop/rack/lowercase_header_keys.rb
Due: rubocop, yml-sort

build: point test image gem mirror at Cloudsmith
  Dockerfile.test
Due: none

feat: add Gusto/DescribedClassConstantReference cop
  config/default.yml
  lib/rubocop/cop/gusto/described_class_constant_reference.rb
  spec/rubocop/cop/gusto/described_class_constant_reference_spec.rb
Due: rubocop, yml-sort

feat: add Gusto/UnreferencedLet cop
  .rubocop.yml
  config/default.yml
  lib/rubocop/cop/gusto/unreferenced_let.rb
  spec/rubocop/cop/gusto/unreferenced_let_spec.rb
Due: rubocop, yml-sort

build!: require Ruby >= 3.4, test against 3.4 and 4.0
  .github/workflows/build.yml
  rubocop-gusto.gemspec
Due: none

ci: skip the coverage gate on Ruby 4.0
  .simplecov
Due: none

feat: resolve described_class for RSpec.describe self
  lib/rubocop/cop/gusto/described_class_constant_reference.rb
  spec/rubocop/cop/gusto/described_class_constant_reference_spec.rb
Due: rubocop

fix: enable UnreferencedLet and enforce 100% branch coverage on Ruby 4.0
  .simplecov
  config/default.yml
  lib/rubocop/cop/gusto/unreferenced_let.rb
  spec/rubocop/cop/gusto/unreferenced_let_spec.rb
  spec/rubocop/gusto/config_yml_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

Path conditions:
  rubocop: any of: {Rakefile,Brewfile,Gemfile,*.{rb,rake,rabl,arb}}
  yml-sort: any of: config/*.yml
