Repository Gusto/rubocop-gusto: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yml-sort

rubocop:
  tags:
  - backend
  - style
  - pre-commit-and-pre-push
  - autofix
  run: .lefthook/rubocop {files}
  stage_fixed: true

yml-sort:
  tags:
  - config
  - style
  - pre-commit-and-pre-push
  - autofix
  run: .lefthook/yml_sort {files}
  stage_fixed: true

feat: enforce with_fixed_indentation for Layout/ArgumentAlignment
  config/default.yml
Due: yml-sort

feat: add Gusto/HardcodedAbsentRecordId cop
  .rubocop.yml
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/hardcoded_absent_record_id.rb
  spec/rubocop/cop/gusto/hardcoded_absent_record_id_spec.rb
Due: rubocop, yml-sort

feat: add Gusto/HardcodedId cop
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/hardcoded_id.rb
  spec/rubocop/cop/gusto/hardcoded_id_spec.rb
Due: rubocop, yml-sort

feat: allow named exceptions via AllowedNames
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/hardcoded_absent_record_id.rb
  spec/rubocop/cop/gusto/hardcoded_absent_record_id_spec.rb
Due: rubocop, yml-sort

fix: add x86_64-linux platform to Gemfile.lock
  Gemfile.lock
Due: none

feat: add the Gusto/Graphql cop department
  .rubocop.yml
  README.md
  config/graphql.yml
  config/gusto_cops.yml
  config/obsoletion.yml
  lib/rubocop/cop/gusto/graphql/default_for_optional_argument.rb
  lib/rubocop/cop/gusto/graphql/id_description_concerns.rb
  lib/rubocop/cop/gusto/graphql/id_field_argument_description.rb
  lib/rubocop/cop/gusto/graphql/id_field_description.rb
  lib/rubocop/cop/gusto/graphql/id_input_argument_description.rb
  lib/rubocop/cop/gusto/graphql/nullability_mismatch.rb
  lib/rubocop/cop/gusto/graphql/paginate_arrays.rb
  lib/rubocop/cop/gusto/graphql/prevent_context_hash_access.rb
  lib/rubocop/cop/gusto/graphql/prevent_field_can_can_action.rb
  lib/rubocop/cop/gusto/graphql/prevent_float.rb
  lib/rubocop/cop/gusto/graphql/prevent_scalars_date.rb
  lib/rubocop/cop/gusto/graphql/resolver_ignores_object.rb
  lib/rubocop/cop/gusto/graphql/type_variables.rb
  lib/rubocop/gusto/init.rb
  lib/rubocop/gusto/plugin.rb
  spec/rubocop/cop/gusto/graphql/default_for_optional_argument_spec.rb
  spec/rubocop/cop/gusto/graphql/id_description_concerns_spec.rb
  spec/rubocop/cop/gusto/graphql/id_field_argument_description_spec.rb
  spec/rubocop/cop/gusto/graphql/id_field_description_spec.rb
  spec/rubocop/cop/gusto/graphql/id_input_argument_description_spec.rb
  spec/rubocop/cop/gusto/graphql/nullability_mismatch_spec.rb
  spec/rubocop/cop/gusto/graphql/paginate_arrays_spec.rb
  spec/rubocop/cop/gusto/graphql/prevent_context_hash_access_spec.rb
  spec/rubocop/cop/gusto/graphql/prevent_field_can_can_action_spec.rb
  spec/rubocop/cop/gusto/graphql/prevent_float_spec.rb
  spec/rubocop/cop/gusto/graphql/prevent_scalars_date_spec.rb
  spec/rubocop/cop/gusto/graphql/resolver_ignores_object_spec.rb
  spec/rubocop/cop/gusto/graphql/type_variables_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto/plugin_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

feat: configure rubocop-graphql 1.8.0 instead of duplicating four of its cops
  Gemfile
  Gemfile.lock
  README.md
  config/graphql.yml
  config/gusto_cops.yml
  config/obsoletion.yml
  lib/rubocop/cop/gusto/graphql/default_for_optional_argument.rb
  lib/rubocop/cop/gusto/graphql/nullability_mismatch.rb
  lib/rubocop/cop/gusto/graphql/prevent_float.rb
  lib/rubocop/cop/gusto/graphql/prevent_scalars_date.rb
  lib/rubocop/gusto/init.rb
  spec/rubocop/cop/gusto/graphql/default_for_optional_argument_spec.rb
  spec/rubocop/cop/gusto/graphql/nullability_mismatch_spec.rb
  spec/rubocop/cop/gusto/graphql/prevent_float_spec.rb
  spec/rubocop/cop/gusto/graphql/prevent_scalars_date_spec.rb
  spec/rubocop/gusto/plugin_spec.rb
  spec/rubocop/gusto_spec.rb
  spec/spec_helper.rb
Due: rubocop, yml-sort

ci: hold rubygems/release-gem at v1.2.0 so releases can publish again
  .github/dependabot.yml
  .github/workflows/release.yml
Due: none

feat: add the Gusto/Graphql cop department, backed by rubocop-graphql (#170)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  README.md
  config/graphql.yml
  config/gusto_cops.yml
  config/obsoletion.yml
  lib/rubocop/cop/gusto/graphql/id_description_concerns.rb
  lib/rubocop/cop/gusto/graphql/id_field_argument_description.rb
  lib/rubocop/cop/gusto/graphql/id_field_description.rb
  lib/rubocop/cop/gusto/graphql/id_input_argument_description.rb
  lib/rubocop/cop/gusto/graphql/paginate_arrays.rb
  lib/rubocop/cop/gusto/graphql/prevent_context_hash_access.rb
  lib/rubocop/cop/gusto/graphql/prevent_field_can_can_action.rb
  lib/rubocop/cop/gusto/graphql/resolver_ignores_object.rb
  lib/rubocop/cop/gusto/graphql/type_variables.rb
  lib/rubocop/gusto/init.rb
  lib/rubocop/gusto/plugin.rb
  spec/rubocop/cop/gusto/graphql/id_description_concerns_spec.rb
  spec/rubocop/cop/gusto/graphql/id_field_argument_description_spec.rb
  spec/rubocop/cop/gusto/graphql/id_field_description_spec.rb
  spec/rubocop/cop/gusto/graphql/id_input_argument_description_spec.rb
  spec/rubocop/cop/gusto/graphql/paginate_arrays_spec.rb
  spec/rubocop/cop/gusto/graphql/prevent_context_hash_access_spec.rb
  spec/rubocop/cop/gusto/graphql/prevent_field_can_can_action_spec.rb
  spec/rubocop/cop/gusto/graphql/resolver_ignores_object_spec.rb
  spec/rubocop/cop/gusto/graphql/type_variables_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto/plugin_spec.rb
  spec/rubocop/gusto_spec.rb
  spec/spec_helper.rb
Due: rubocop, yml-sort

feat: remove Gusto/DescribedClassConstantReference, duplicated by Sorbet/DescribedClassConstantReference
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/described_class_constant_reference.rb
  spec/rubocop/cop/gusto/described_class_constant_reference_spec.rb
Due: rubocop, yml-sort

feat: flag have_received and allow and_raise in Sidekiq/PerformAsyncStub
  config/default.yml
  lib/rubocop/cop/sidekiq/perform_async_stub.rb
  spec/rubocop/cop/sidekiq/perform_async_stub_spec.rb
Due: rubocop, yml-sort

fix: allow typographic characters in Style/AsciiComments
  config/default.yml
Due: yml-sort

fix: allow typographic characters in Style/AsciiComments (#175)
  config/default.yml
Due: yml-sort

Delete .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: Delete .github/CODEOWNERS (#177)
  .github/CODEOWNERS
Due: none

feat: add Gusto/HardcodedId cop (#167)
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/hardcoded_id.rb
  spec/rubocop/cop/gusto/hardcoded_id_spec.rb
Due: rubocop, yml-sort

feat: flag have_received and allow and_raise in Sidekiq/PerformAsyncStub (#174)
  config/default.yml
  lib/rubocop/cop/sidekiq/perform_async_stub.rb
  spec/rubocop/cop/sidekiq/perform_async_stub_spec.rb
Due: rubocop, yml-sort

feat: enforce with_fixed_indentation for Layout/ArgumentAlignment (#165)
  config/default.yml
Due: yml-sort

feat: add Gusto/HardcodedAbsentRecordId cop (#166)
  .rubocop.yml
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/hardcoded_absent_record_id.rb
  spec/rubocop/cop/gusto/hardcoded_absent_record_id_spec.rb
Due: rubocop, yml-sort

chore: correct reason InternalAffairs/UndefinedConfig is disabled
  .rubocop.yml
Due: none

chore: correct reason InternalAffairs/UndefinedConfig is disabled (#179)
  .rubocop.yml
Due: none

fix: port upstream review of Gusto/HardcodedAbsentRecordId
  lib/rubocop/cop/gusto/hardcoded_absent_record_id.rb
  spec/rubocop/cop/gusto/hardcoded_absent_record_id_spec.rb
Due: rubocop

fix: port upstream review of Gusto/HardcodedAbsentRecordId (#180)
  lib/rubocop/cop/gusto/hardcoded_absent_record_id.rb
  spec/rubocop/cop/gusto/hardcoded_absent_record_id_spec.rb
Due: rubocop

feat: add Gusto/Graphql/ResourceFromContext cop
  README.md
  config/graphql.yml
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/graphql/resource_from_context.rb
  spec/rubocop/cop/gusto/graphql/resource_from_context_spec.rb
  spec/rubocop/gusto/plugin_spec.rb
Due: rubocop, yml-sort

feat: add Gusto/SensitiveDataInLogs cop
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/sensitive_data_in_logs.rb
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
Due: rubocop, yml-sort

fix: disable CheckErrorMessage by default
  config/gusto_cops.yml
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
Due: rubocop, yml-sort

Sort sort sort
  config/gusto_cops.yml
Due: yml-sort

fix: ship SensitiveDataInLogs at info and tighten params/predicate checks
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/sensitive_data_in_logs.rb
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
Due: rubocop, yml-sort

fix: skip constants and route e.inspect to CheckErrorMessage
  lib/rubocop/cop/gusto/sensitive_data_in_logs.rb
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
Due: rubocop

fix: skip identifier-named receivers in SensitiveDataInLogs serialization
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/sensitive_data_in_logs.rb
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
Due: rubocop, yml-sort

fix: move .inspect behind its own CheckInspect toggle, off by default
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/sensitive_data_in_logs.rb
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
Due: rubocop, yml-sort

feat: split SensitiveDataInLogs into five Gusto/Logging cops
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/logging/exception_message.rb
  lib/rubocop/cop/gusto/logging/log_call_concerns.rb
  lib/rubocop/cop/gusto/logging/pii_accessor.rb
  lib/rubocop/cop/gusto/logging/raw_params.rb
  lib/rubocop/cop/gusto/logging/response_body.rb
  lib/rubocop/cop/gusto/logging/serialized_object.rb
  lib/rubocop/cop/gusto/sensitive_data_in_logs.rb
  spec/rubocop/cop/gusto/logging/exception_message_spec.rb
  spec/rubocop/cop/gusto/logging/pii_accessor_spec.rb
  spec/rubocop/cop/gusto/logging/raw_params_spec.rb
  spec/rubocop/cop/gusto/logging/response_body_spec.rb
  spec/rubocop/cop/gusto/logging/serialized_object_spec.rb
  spec/rubocop/cop/gusto/sensitive_data_in_logs_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

chore: tighten a Gusto/Logging comment
  lib/rubocop/cop/gusto/logging/log_call_concerns.rb
Due: rubocop

fix: finish accessor and params logging checks
  .github/workflows/build.yml
  .github/workflows/zizmor.yml
  README.md
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/all.rb
  lib/rubocop/cop/gusto/logging/exception_message.rb
  lib/rubocop/cop/gusto/logging/log_call_concerns.rb
  lib/rubocop/cop/gusto/logging/raw_params.rb
  lib/rubocop/cop/gusto/logging/response_body.rb
  lib/rubocop/cop/gusto/logging/serialized_object.rb
  spec/compatibility/logging_config_spec.rb
  spec/rubocop/cop/gusto/logging/exception_message_spec.rb
  spec/rubocop/cop/gusto/logging/pii_accessor_spec.rb
  spec/rubocop/cop/gusto/logging/raw_params_spec.rb
  spec/rubocop/cop/gusto/logging/response_body_spec.rb
  spec/rubocop/cop/gusto/logging/serialized_object_spec.rb
  spec/rubocop/gusto/cop_loader_spec.rb
  spec/rubocop/gusto_spec.rb
  spec/support/logging_cop_shared_examples.rb
Due: rubocop, yml-sort

fix: keep workflows scoped to main
  .github/workflows/build.yml
  .github/workflows/zizmor.yml
Due: none

feat: add heuristic sensitive logging checks
  README.md
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/logging/exception_message.rb
  lib/rubocop/cop/gusto/logging/log_call_concerns.rb
  lib/rubocop/cop/gusto/logging/response_body.rb
  lib/rubocop/cop/gusto/logging/serialized_object.rb
  spec/rubocop/cop/gusto/logging/exception_message_spec.rb
  spec/rubocop/cop/gusto/logging/response_body_spec.rb
  spec/rubocop/cop/gusto/logging/serialized_object_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

ci: remove one-off RuboCop compatibility job
  .github/workflows/build.yml
Due: none

fix: exempt a prepare: context read only when the argument sets default_value:
  lib/rubocop/cop/gusto/graphql/resource_from_context.rb
  spec/rubocop/cop/gusto/graphql/resource_from_context_spec.rb
Due: rubocop

feat: Flag PII accessors and raw params in logs
  README.md
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/all.rb
  lib/rubocop/cop/gusto/logging/log_call_concerns.rb
  lib/rubocop/cop/gusto/logging/pii_accessor.rb
  lib/rubocop/cop/gusto/logging/raw_params.rb
  spec/compatibility/logging_config_spec.rb
  spec/rubocop/cop/gusto/logging/pii_accessor_spec.rb
  spec/rubocop/cop/gusto/logging/raw_params_spec.rb
  spec/rubocop/gusto/cop_loader_spec.rb
  spec/rubocop/gusto_spec.rb
  spec/support/logging_cop_shared_examples.rb
Due: rubocop, yml-sort

Path conditions:
  rubocop: any of: {Rakefile,Brewfile,Gemfile,*.{rb,rake,rabl,arb}}
  yml-sort: any of: config/*.yml
