Repository Gusto/rubocop-gusto: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, yml-sort

rubocop:
  tags:
  - backend
  - style
  - pre-commit-and-pre-push
  - autofix
  run: .lefthook/rubocop {files}
  stage_fixed: true

yml-sort:
  tags:
  - config
  - style
  - pre-commit-and-pre-push
  - autofix
  run: .lefthook/yml_sort {files}
  stage_fixed: true

fix: resolve AsciiComments and PercentLiteralDelimiters lint offenses
  lib/rubocop/cop/gusto/pluck_on_select.rb
Due: rubocop

fix: add PluckOnSelect to gusto_cops.yml and rails.yml
  config/rails.yml
Due: yml-sort

fix: update ExecuteMigration cop to recommend backfill sidekiq job (#121)
  lib/rubocop/cop/gusto/execute_migration.rb
  spec/rubocop/cop/gusto/execute_migration_spec.rb
Due: rubocop

fix: use UTF-8 encoding when reading support files in UnreferencedLet (#136)
  lib/rubocop/cop/gusto/unreferenced_let.rb
Due: rubocop

feat: remove Gusto/RailsEnv in favor of upstream Rails/Env
  .rubocop.yml
  config/gusto_cops.yml
  config/rails.yml
  lib/rubocop/cop/gusto/rails_env.rb
  spec/rubocop/cop/gusto/rails_env_spec.rb
Due: rubocop, yml-sort

feat: add Gusto/PluckOnSelect cop (#137)
  config/gusto_cops.yml
  config/rails.yml
  lib/rubocop/cop/gusto/pluck_on_select.rb
  spec/rubocop/cop/gusto/pluck_on_select_spec.rb
Due: rubocop, yml-sort

feat: depend on code_teams
  Gemfile.lock
  rubocop-gusto.gemspec
Due: none

feat: Ensure rubocop-gusto has access to CodeTeams everywhere it runs (RR-880) (#141)
  Gemfile.lock
  rubocop-gusto.gemspec
Due: none

feat: add Gusto/SmartTodoTeam cop enforcing valid team in TODOs (RR-866)
  Gemfile.lock
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/smart_todo_team.rb
  rubocop-gusto.gemspec
  spec/rubocop/cop/gusto/smart_todo_team_spec.rb
Due: rubocop, yml-sort

Provide more informative error message to reduce reader confusion
  lib/rubocop/cop/gusto/smart_todo_team.rb
  spec/rubocop/cop/gusto/smart_todo_team_spec.rb
Due: rubocop

feat: add Gusto/SmartTodoTeam cop enforcing valid team in TODOs (RR-866) (#143)
  Gemfile.lock
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/smart_todo_team.rb
  rubocop-gusto.gemspec
  spec/rubocop/cop/gusto/smart_todo_team_spec.rb
Due: rubocop, yml-sort

feat: replace Gusto/RailsEnv with upstream Rails/Env
  config/gusto_cops.yml
  config/rails.yml
  lib/rubocop/cop/gusto/rails_env.rb
  spec/rubocop/cop/gusto/rails_env_spec.rb
Due: rubocop, yml-sort

feat: replace Gusto/RailsEnv with upstream Rails/Env (#106)
  config/gusto_cops.yml
  config/rails.yml
  lib/rubocop/cop/gusto/rails_env.rb
  spec/rubocop/cop/gusto/rails_env_spec.rb
Due: rubocop, yml-sort

feat: add Gusto/FeatureFlagConstants cop (RR-890)
  .rubocop.yml
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/feature_flag_constants.rb
  spec/rubocop/cop/gusto/feature_flag_constants_spec.rb
Due: rubocop, yml-sort

feat: add Gusto/FeatureFlagConstants cop (RR-890) (#144)
  .rubocop.yml
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/feature_flag_constants.rb
  spec/rubocop/cop/gusto/feature_flag_constants_spec.rb
Due: rubocop, yml-sort

feat: add Gusto/ConstantSafety cop
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/constant_safety.rb
  spec/rubocop/cop/gusto/constant_safety_spec.rb
Due: rubocop, yml-sort

feat: add Gusto/RedundantSpecHelperRequire cop (ADR 116, with autofix)
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/redundant_spec_helper_require.rb
  spec/rubocop/cop/gusto/redundant_spec_helper_require_spec.rb
Due: rubocop, yml-sort

style: replace em dashes with commas in ConstantSafety comments
  lib/rubocop/cop/gusto/constant_safety.rb
Due: rubocop

feat: add Gusto/ConstantSafety cop (#148)
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/constant_safety.rb
  spec/rubocop/cop/gusto/constant_safety_spec.rb
Due: rubocop, yml-sort

chore: drop redundant spec_helper requires flagged by the new cop
  spec/rubocop/cop/gusto/factory_classes_or_modules_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto/config_yml_spec.rb
Due: rubocop

feat: add Gusto/RedundantSpecHelperRequire cop (ADR 116, with autofix) (#149)
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/redundant_spec_helper_require.rb
  spec/rubocop/cop/gusto/factory_classes_or_modules_spec.rb
  spec/rubocop/cop/gusto/redundant_spec_helper_require_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto/config_yml_spec.rb
Due: rubocop, yml-sort

fix: allow serialize/from_hash/insert_record overrides in Style/OptionalBooleanParameter
  config/default.yml
Due: yml-sort

fix: also allow lock/lock! overrides in Style/OptionalBooleanParameter
  config/default.yml
Due: yml-sort

fix: remove git dependency from Gusto/UnreferencedLet
  AGENTS.md
  lib/rubocop/cop/gusto/unreferenced_let.rb
  spec/rubocop/cop/gusto/unreferenced_let_spec.rb
Due: rubocop

feat: enable Sorbet/RedundantTLetForLiteral, bump rubocop-sorbet for RedundantTLet cops
  Gemfile.lock
  config/default.yml
  rubocop-gusto.gemspec
Due: yml-sort

feat: enable Sorbet/RedundantTLetForLiteral and bump rubocop-sorbet for RedundantTLet cops (#154)
  Gemfile.lock
  config/default.yml
  rubocop-gusto.gemspec
Due: yml-sort

fix: remove git dependency from Gusto/UnreferencedLet (#153)
  AGENTS.md
  lib/rubocop/cop/gusto/unreferenced_let.rb
  spec/rubocop/cop/gusto/unreferenced_let_spec.rb
Due: rubocop

fix: allow serialize/from_hash/insert_record overrides in Style/OptionalBooleanParameter (#152)
  config/default.yml
Due: yml-sort

feat: add Gusto/SorbetPredicateBooleanReturn and Gusto/SuddenAssociations cops
  .rubocop.yml
  config/gusto_cops.yml
  lib/rubocop/cop/gusto/sorbet_predicate_boolean_return.rb
  lib/rubocop/cop/gusto/sudden_associations.rb
  spec/rubocop/cop/gusto/sorbet_predicate_boolean_return_spec.rb
  spec/rubocop/cop/gusto/sudden_associations_spec.rb
Due: rubocop, yml-sort

feat: move PredicateBooleanReturn into an opt-in Gusto/Sorbet sub-department
  AGENTS.md
  config/gusto_cops.yml
  config/sorbet.yml
  lib/rubocop/cop/gusto/sorbet/predicate_boolean_return.rb
  lib/rubocop/cop/gusto/sorbet_predicate_boolean_return.rb
  lib/rubocop/gusto/init.rb
  spec/rubocop/cop/gusto/sorbet/predicate_boolean_return_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

feat: scope Gusto/SuddenAssociations to Rails projects via config/rails.yml
  config/gusto_cops.yml
  config/rails.yml
Due: yml-sort

fix: do not flag `sig { void }` predicates in Gusto/Sorbet/PredicateBooleanReturn
  lib/rubocop/cop/gusto/sorbet/predicate_boolean_return.rb
  spec/rubocop/cop/gusto/sorbet/predicate_boolean_return_spec.rb
Due: rubocop

feat: add Gusto/Sorbet/PredicateBooleanReturn (opt-in) and Gusto/SuddenAssociations cops (#157)
  .rubocop.yml
  AGENTS.md
  config/gusto_cops.yml
  config/rails.yml
  config/sorbet.yml
  lib/rubocop/cop/gusto/sorbet/predicate_boolean_return.rb
  lib/rubocop/cop/gusto/sudden_associations.rb
  lib/rubocop/gusto/init.rb
  spec/rubocop/cop/gusto/sorbet/predicate_boolean_return_spec.rb
  spec/rubocop/cop/gusto/sudden_associations_spec.rb
  spec/rubocop/gusto/cli_spec.rb
  spec/rubocop/gusto_spec.rb
Due: rubocop, yml-sort

fix: scope Gusto/VcrRecordings to specs
  config/gusto_cops.yml
Due: yml-sort

fix: scope Gusto/VcrRecordings to specs (#161)
  config/gusto_cops.yml
Due: yml-sort

fix: hold release-gem at v1.2.0 so gem publishing works again
  .github/dependabot.yml
  .github/workflows/release.yml
Due: none

ci: run zizmor via the official action and fix its findings
  .github/dependabot.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
Due: none

ci: enforce SHA pinning via zizmor and run it within the actions allow-list
  .github/workflows/zizmor.yml
  zizmor.yml
Due: none

ci: run zizmor via the official action, pending allow-list approval
  .github/workflows/zizmor.yml
Due: none

ci: drop redundant zizmor.yml
  .github/workflows/zizmor.yml
  zizmor.yml
Due: none

Path conditions:
  rubocop: any of: {Rakefile,Brewfile,Gemfile,*.{rb,rake,rabl,arb}}
  yml-sort: any of: config/*.yml
